## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
clean_hotel_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
clean_hotel_df.head(50)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Antanifotsy,MG,-19.6500,47.3167,49.14,95,100,7.81,overcast clouds
1,1,Atuona,PF,-9.8000,-139.0333,77.45,67,36,17.47,scattered clouds
2,2,Opuwo,NaN,-18.0607,13.8400,55.51,32,0,6.42,clear sky
3,3,Saint-Philippe,RE,-21.3585,55.7679,67.59,84,100,20.98,light rain
4,4,Samarai,PG,-10.6167,150.6667,80.17,83,61,7.14,light rain
5,5,Yeppoon,AU,-23.1333,150.7333,74.98,55,17,4.12,few clouds
6,6,Albany,US,42.6001,-73.9662,67.82,82,39,2.08,scattered clouds
7,7,Puerto Ayora,EC,-0.7393,-90.3518,71.42,89,47,6.38,scattered clouds
8,8,Hilo,US,19.7297,-155.0900,77.25,93,83,1.99,moderate rain
9,9,Ushuaia,AR,-54.8000,-68.3000,39.65,97,100,6.73,overcast clouds
10,10,Tasiilaq,GL,65.6145,-37.6368,44.76,67,84,5.99,broken clouds
11,11,Chifeng,CN,42.2683,118.9636,70.93,86,100,1.95,light rain
12,12,Rikitea,PF,-23.1203,-134.9692,73.56,82,69,13.04,light rain
13,13,Jamestown,US,42.0970,-79.2353,68.29,89,44,3.94,scattered clouds
14,14,Lebu,CL,-37.6167,-73.6500,49.12,77,0,7.36,clear sky
15,15,Mataura,NZ,-46.1927,168.8643,57.47,73,76,4.65,broken clouds
16,16,Kaitangata,NZ,-46.2817,169.8464,53.92,72,18,7.54,few clouds
17,17,Tuktoyaktuk,CA,69.4541,-133.0374,50.99,70,99,9.80,overcast clouds
18,18,Avarua,CK,-21.2078,-159.7750,68.05,94,90,8.05,moderate rain
19,19,Tadine,NC,-21.5500,167.8833,74.10,59,67,10.42,broken clouds
20,20,Mbuji-Mayi,CD,-6.1500,23.6000,70.05,39,8,1.74,clear sky
21,21,Pirgos,GR,35.1167,25.7178,80.94,52,0,9.64,clear sky
22,22,Tuatapere,NZ,-46.1333,167.6833,57.81,66,97,6.96,overcast clouds
23,23,Saint George,US,37.1041,-113.5841,99.39,21,1,3.00,clear sky
24,24,Paamiut,GL,61.9940,-49.6678,44.33,86,57,0.72,broken clouds
25,25,Tocopilla,CL,-22.0920,-70.1979,64.83,53,68,9.13,broken clouds
26,26,Greymouth,NZ,-42.4667,171.2000,56.17,68,99,3.65,overcast clouds
27,27,Upernavik,GL,72.7868,-56.1549,46.92,82,100,9.89,overcast clouds
28,28,Almeirim,BR,-1.5233,-52.5817,79.27,69,91,2.75,overcast clouds
29,29,Souillac,MU,-20.5167,57.5167,71.37,75,100,21.54,overcast clouds
30,30,Port Hardy,CA,50.6996,-127.4199,64.65,79,72,12.10,broken clouds
31,31,Nikolskoye,RU,59.7035,30.7861,66.09,97,59,5.50,broken clouds
32,32,Isangel,VU,-19.5500,169.2667,76.68,57,19,9.06,few clouds
33,33,Mangrol,IN,21.1167,70.1167,82.06,83,100,23.42,overcast clouds
34,34,Nanortalik,GL,60.1432,-45.2371,44.40,90,70,8.59,broken clouds
35,35,Sistranda,NO,63.7256,8.8340,64.36,91,97,4.03,overcast clouds
36,36,Luderitz,NaN,-26.6481,15.1594,53.02,79,0,16.02,clear sky
37,37,Punta Arenas,CL,-53.1500,-70.9167,48.31,66,0,12.66,clear sky
38,38,Ahuimanu,US,21.4447,-157.8378,81.79,71,40,13.80,scattered clouds
39,39,Yellowknife,CA,62.4560,-114.3525,66.29,67,33,10.00,scattered clouds
40,40,Castro,BR,-24.7911,-50.0119,36.97,67,12,9.82,few clouds
41,41,Bluff,NZ,-46.6000,168.3333,57.79,70,72,7.90,broken clouds
42,42,Edd,ER,13.9297,41.6925,90.70,61,100,1.86,overcast clouds
43,43,Watrous,CA,51.6668,-105.4679,78.55,26,6,2.13,clear sky
44,44,Bulancak,TR,40.9372,38.2291,73.83,72,32,13.27,scattered clouds
45,45,Jalu,LY,29.0331,21.5482,79.75,45,0,9.71,clear sky
46,46,Tiksi,RU,71.6872,128.8694,44.69,74,26,9.40,scattered clouds
47,47,Mpika,ZM,-11.8343,31.4529,47.62,78,95,5.50,overcast clouds
48,48,Provideniya,RU,64.3833,-173.3000,50.11,81,75,15.66,broken clouds
49,49,Vaini,TO,-21.2000,-175.2000,70.61,61,3,14.97,clear sky

In [3]:
#ran from Tutor
%matplotlib inline

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dl>

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]
locations

         Lat       Lng
0   -19.6500   47.3167
1    -9.8000 -139.0333
2   -18.0607   13.8400
3   -21.3585   55.7679
4   -10.6167  150.6667
..       ...       ...
656   7.6244  -11.8332
657  -6.1349   12.3689
658 -20.4667   22.7167
659  -2.4790   29.5564
660  64.4662   11.4957

[661 rows x 2 columns]

In [5]:
# 4a. 6.5.4 Add a marker layer for each city to the map.
locations = clean_hotel_df[["Lat", "Lng"]]
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

# 4b. Display the figure

Figure(layout=FigureLayout(height='420px'))

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
# help from Tutor is in below notes. Help from ask changed series into string.

vacation_start = clean_hotel_df.loc[clean_hotel_df['City']=='Albany']
vacation_end = clean_hotel_df.loc[clean_hotel_df['City']=='Albany']
vacation_stop1 = clean_hotel_df.loc[clean_hotel_df['City']=='Jamestown']
vacation_stop2 = clean_hotel_df.loc[clean_hotel_df['City']=='Tuktoyaktuk'] 
vacation_stop3 = clean_hotel_df.loc[clean_hotel_df['City']=='Saint George']

#vacation_start.to_numpy()[5]
#vacation_start.head()
#type(vacation_start)

* tuples ()
* numpy array array([]) <- treat the same as a list. numpy is used for numeric operations, matrix operations.
* pandas df row (get from using df.loc[1])

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()[0]
end = vacation_end[["Lat", "Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()[0]

stop3

array([  37.1041, -113.5841])

In [8]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
roundtrip_to_Albany = gmaps.directions_layer(start, end,
                            waypoints = [stop1, stop2, stop3],
                            show_markers=True, 
                            stroke_color='green', stroke_weight=3.0, stroke_opacity=1.0,
                            travel_mode = "BICYCLING")
fig.add_layer(roundtrip_to_Albany)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# 8. from hint in mod 6. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df
type(itinerary_df)

pandas.core.frame.DataFrame

In [10]:
itinerary_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,6,Albany,US,42.6001,-73.9662,67.82,82,39,2.08,scattered clouds
1,13,Jamestown,US,42.0970,-79.2353,68.29,89,44,3.94,scattered clouds
2,17,Tuktoyaktuk,CA,69.4541,-133.0374,50.99,70,99,9.80,overcast clouds
3,23,Saint George,US,37.1041,-113.5841,99.39,21,1,3.00,clear sky

In [11]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure()
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))